html,
body {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: #ddd;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: monospace;
}

* {
  box-sizing: border-box;
}
/* globals */
.wrapper {
  margin: 0 auto;
  max-width: 768px;
  padding: 20px;
  margin: 20px auto;
  background: white;
}

footer {
  margin-top: 20px;
}
nav {
  margin-bottom: 10px;
}
nav a {
  display: inline-block;
  font-weight: bold;
  margin-right: 16px;
  text-decoration: none;
  color: #999;
  padding: 8px;
  border: 1px solid #ddd;
}
nav a:hover {
  background: #eee;
}
nav a.active {
  color: black;
  background: #ddd;
}
/* page */
article {
  padding: 5px;
}
.message {
  white-space: pre-line;
}
footer p {
  margin-bottom: 0;
}
.field {
}

.field__error {
  display: block;
  color: red;
}
.field--error input,
.field--error textarea {
  border-color: red;
}
.field-error {
  color: red;
}
.success {
  color: green;
  font-style: italic;
}
.error {
  color: red;
}

code {
  background: #eee;
  padding: 2px;
  margin: -2px;
  display: inline-block;
}

hr {
  height: 1px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.feedback {
  display: block;
}
